<%- include("./partials/header") %>


<link rel="stylesheet" href="./styles.css"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 


<div class="container mt-5">

    <h2 style="text-align:center; color: red;">Welcome to the BLE Scanning System </h2>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>

<%- include("./partials/footer") %>